:root {
    --used-color--:rgb(31, 45, 85);
}

.form {
    background: #71befd;
}

main p {
    color: rgb(18, 173, 18);
}

form fieldset{
    margin: 2rem 0;
    border: 1px solid var(--used-color--);
    border-radius: 10px;
    padding: .5rem 2%;
}

form label {
    color: var(--used-color--);
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
}

form label input{
    display: block;
    font-size: 1rem;
    max-width: 20rem;
    width: 100%;
    padding: .7rem;
    border-radius: 5px;
    border: 1px solid var(--used-color--);
    background-color: rgba(0, 0, 0, 0.1);
}

form input.submitBtn {
    border: none;
    background-color: var(--used-color--);
    color: white;
    border-radius: 10px;
    padding: .75rem ;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    cursor: pointer;
} 

form label input:required {
    border-left: red solid 6px;
}

form label input:required:valid {
    border-left: green solid 6px;
}

#formmessage {
	margin: 10px;
	padding: 0.5rem;
	color: red;
}

input[type=range] {
    margin: 1rem;
	padding: 0.5em;
}

#r {
	width: 180px;
	margin: 0;  
}

#rangevalue {
    margin-top: 20px;
	font-size: 1.5rem;
	color: var(--used-color--);
    place-items: unset;
    margin-left: 5.5rem;
}



@media screen and (min-width:550px){
    form {
        width: 90%;
        margin: 2rem auto;
    }

    fieldset {
        place-items: center;
    }
}
